<div class="cf"></div>
<div id="footer">

    <div class="main-footer common-width">
        <div class="content-wrap footer-left">
            <div class="content-head">
                <span class="head-title">下载中心</span>
                <span class="head-more">更多+</span>
            </div>
            <ul class="content-area">
                <li class="content-list"> · 关于举办2019级安徽建筑工业大学教职工奖章授予表彰大会</li>
                <li class="content-list"> · 关于举办2019级安徽建筑工业大学教职工奖章授予表彰大会</li>
                <li class="content-list"> · 关于举办2019级安徽建筑工业大学教职工奖章授予表彰大会</li>
            </ul>
        </div>
        <div class="content-wrap footer-right">
            <div class="content-head">
                <span class="head-title">社交媒体</span>
            </div>
            <div class="content-area">
                <div class="media-img" style="background:url(__StaticStyle__/image/weixin.png) no-repeat center;background-size: 160px;"></div>
            </div>
        </div>
        <div class="cf"></div>
    </div>
    <div class="footer-text">
        皖ICP备020545号 Copyright 2013安徽建筑大学 All Rights Reserved | 安徽建筑大学南
    </div>
</div>