<div class="main-header" style="background:url(__StaticStyle__/image/index_header.png) no-repeat center;">
</div>
<div class="main-nav common-width">
    <div class="now-time">今天是：2019年06月01日 星期六</div>
    <div class="index-nav">
        <div class="index-nav-frame clearfix">
            <div class="nav-line">

            </div>
            <div class="nav-small" tabindex="-1">
                <div class="nav-small-focus" tabindex="-1">

                </div>
                <img src="img/icon.png">
            </div>
            <a class="index-nav-frame-line active" tabindex="-1">
                首页
            </a>
            <a class="index-nav-frame-line" tabindex="-1">
                第二页面
            </a>
            <div class="index-nav-frame-line" tabindex="-1">
                第三页面
                <div class="index-nav-frame-line-center">
                    <a class="index-nav-frame-line-li">
                        第三页面1
                    </a>
                    <a class="index-nav-frame-line-li">
                        第三页面2
                    </a>
                    <a class="index-nav-frame-line-li">
                        第三页面3
                    </a>
                    <a class="index-nav-frame-line-li">
                        第三页面4
                    </a>
                    <a class="index-nav-frame-line-li">
                        第三页面5
                    </a>
                </div>
            </div>
            <div class="index-nav-frame-line" tabindex="-1">
                第四页面
                <div class="index-nav-frame-line-center">

                    <a class="index-nav-frame-line-li">
                        第四页面1
                    </a>
                    <a class="index-nav-frame-line-li">
                        第四页面2
                    </a>
                    <a class="index-nav-frame-line-li">
                        第四页面3
                    </a>
                    <a class="index-nav-frame-line-li">
                        第四页面4
                    </a>
                    <a class="index-nav-frame-line-li">
                        第四页面5
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>