<div class="main-header" style="background:url(__ImagePath__{$topImg.url}) no-repeat center;">
</div>
<div class="main-nav common-width">
    <div class="now-time">今天是：{$nowTime}</div>
    <div class="index-nav">
        <div class="index-nav-frame clearfix">
            <div class="nav-line">

            </div>
            <div class="nav-small" tabindex="-1">
                <div class="nav-small-focus" tabindex="-1">

                </div>
            </div>
            <a class="index-nav-frame-line" tabindex="-1" href="http://www.ahjzu.edu.cn">
                建大首页
            </a>
            <a class="index-nav-frame-line {if $nav == 'index'}active{/if}" tabindex="-1" href="{:url('index/index')}">
                首页
            </a>
            {foreach $navList as $item}
            {if count($item.sub) == 0}
            <a class="index-nav-frame-line {if $nav == $item.mark}active{/if}" tabindex="-1" href="{:url('index/articlelist',['mark'=>$item.mark,'type'=>'nav'])}">
                {$item.title}
            </a>
            {else}
            <div class="index-nav-frame-line {if $nav == $item.mark}active{/if}" tabindex="-1">
                {$item.title}
                <div class="index-nav-frame-line-center">
                    {foreach $item.sub as $v}
                    <a class="index-nav-frame-line-li" href="{:url('index/articlelist',['cate_id'=>$v.id,'mark'=>$item.mark,'type'=>'nav'])}">
                        {$v.name}
                    </a>
                    {/foreach}
                </div>
            </div>
            {/if}
            {/foreach}
        </div>
    </div>
</div>