*{
    margin:0;
    padding:0;
    outline: none;
    color: #333333;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "PingFang SC","Microsoft YaHei","Hiragino Sans GB W3",Helvetica,"Heiti SC","Droid Sans",Droidsansfallback,sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#bbb;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#bbb;
}
a:link{
    text-decoration: none !important;
}
a:visited{
    text-decoration: none !important;;
}
a:hover{
    text-decoration: none !important;;
}
a:active{
    text-decoration: none !important;;
}
ul,li{
    list-style: none;
    text-align: left;
}
input:-ms-input-placeholder{
    color:#bbb;
}

input::-webkit-input-placeholder{
    color:#bbb;
}
a,span,p{
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.cf{
    clear:both;
}
.limit-text{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.common-width{
    width:1200px;
    margin:0 auto;
}

.now-time{
    display:inline-block;
    height:45px;
    line-height:45px;
    position:absolute;
    left:0;
}
.nav-item{
    display:inline-block;
    padding:0 20px;
    height:45px;
    line-height: 45px;
    font-weight: 700;
    cursor:pointer;
}
.nav-item:hover{
    background:#f5f5f5;
}
.main-header{
    height:135px;
}

.content-head{
    border-bottom:1px solid #ccc;
    margin-bottom: 12px;
}
.head-title{
    display:inline-block;
    height:30px;
    line-height:30px;
    padding:0 5px;
    border-bottom:2px solid #044fa0;
    color:#044fa0;
    font-weight: 700;
    position:relative;
    top:1px;
}
.head-title-item{
    display:inline-block;
    height:30px;
    line-height:30px;
    padding:0 5px;
    color:#044fa0;
    font-weight: 700;
    position:relative;
    top:1px;
    width:90px;
    text-align:center;
    cursor: pointer;
}
.head-title-item.active{
    color:#fff;
    background:#044fa0;
}
.hidden{
    display:none;
}
.head-more{
    height:30px;
    line-height:30px;
    float:right;
    color:#666666;
    position:relative;
    top:1px;
}
.content-wrap{
    float:left;
}
.footer-left{
    width: 344px;
    height: 85px;
    margin-top: 37.5px;
    background: url(../image/logo.png) no-repeat center;
}
.footer-right{
    margin-left: 100px;
}
.main-footer{
    padding:30px 0;
}
#footer{
    background:#044fa0;
}
#footer .content-list{
    border-bottom:1px dashed #666;
    line-height:50px;
    height:50px;
    cursor:pointer;
}
.footer-text{
    background-color:#044fa0;
    color:#d0d0d0;
    text-align:center;
    font-size:12px;
    line-height:60px;
}
.media-img{
    width:160px;
    height:160px;
    float: left;
    margin-left: 20px;
}
.main-nav{
    padding-left:290px;
    position:relative;
}
#footer .default-area {
    float: left;
    margin-left: 20px;
    width:74px;
    margin-top:43px;
}
#footer .default-area .default-img{
    height:74px;
}
#footer .default-area .weixin-img{
    background:url(../image/weixin.png) no-repeat center;
    background-size:74px;
}
#footer .default-area .weibo-img{
    background:url(../image/weibo.png) no-repeat center;
    background-size:74px;
}
#footer .default-area .default-name{
    margin-top:8px;
    font-size:12px;
    text-align: center;
}