.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    width:50px;
    border-radius: 5px;
}
.main-content{
    margin-top:50px;
}
.content-item{
    width:30%;
    padding-right:40px;
    margin-bottom:20px;
    min-height:283px;
    overflow: hidden;
}
.content-item.no-padding{
    width:40%;
    padding-right:0px;
}
.content-item.no-padding.content-long{
    width:70%;
}
.content-list{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    line-height:30px;
    cursor:pointer;
}
.no-padding .content-list{
    padding-right:100px;
    position:relative;
}
.content-list span{
    position:absolute;
    color:#666;
    right:0px;
 }
.content-item .long-left{
    width:43%;
    float:left;
    padding-right:40px;
}
.content-item .long-left-area{
    border:1px solid #ddd;
    height:240px;
    cursor:pointer;
}
.content-item .long-right{
    width:57%;
    float:left;
}
.content-item .news-img{
    height:190px;
}
.content-item .news-title{
    line-height:40px;
    font-size:18px;
    padding:0 5px;
    color:#044fa0;
    cursor:pointer;
}
.content-item .news-hot{
    height:125px;
    margin-bottom:15px;
    background-color:#f8f8f8;
    cursor:pointer;
}
.content-item .news-hot .hot-day{
    color:#044fa0;
    font-weight:700;
    display:block;
    text-align:center;
    font-size:30px;
}
.content-item .news-hot .hot-month{
    color:#044fa0;
    display:block;
    text-align:center;
}
.content-item .news-hot .hot-left{
    display:inline-block;
    position:absolute;
    height: 70px;
    border-right:3px solid #044fa0;
    width:85px;
    margin-top:10px;
}
.content-item .news-hot .hot-right{
    padding-left:100px;
}
.content-item .news-hot .hot-title{
    line-height:35px;
    height:70px;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-bottom:10px;
    padding-top:10px;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    word-wrap: break-word;
}
.content-item .news-hot .hot-content{
    height:35px;
    line-height:35px;
    color:#666;
    font-size:14px;
}

/*special部分*/
.special-area{
    margin-left: 3px;
    border:1px solid #e36769;
    padding-bottom: 12px;
}
.special-title{
    font-weight: 700;
    font-size:18px;
    padding-left:10px;
    height:50px;

    position:relative;
}
.special-text{
    color:#e36769;
    line-height:50px;
}
.special-dot{
    color:#e36769;
    height:20px;
    width:10px;
    display:inline-block;
    position:absolute;
    background:#fff;
    top:10px;
    left:-4px;
}
.special-list{
    padding:0 30px;
}
.special-item{
    display:block;
    text-align:center;
    line-height:45px;
    background:#e36769;
    color:#fff;
    margin-bottom:10px;

}
.special-1{
    background-color:#bd74dd;
}.special-2{
    background-color:#9ac448;
}.special-3{
    background-color:#59cac4;
}.special-4{
     background-color: #cab832;
}.special-5{
  background-color: #ca4259;
}
 .xiazai-list{
     font-weight:700;
     font-size:12px;
     line-height:18px;
 }
.content-wrap .huo-list{
    width:70%;
    margin-bottom:8px;
    display:block;
}
.content-wrap .huo-list:last-child{
    margin-bottom:0;
}
.content-wrap .huo-img{
    height:133px;
}
.content-wrap .huo-title{
    height:36px;
    line-height:18px;
    overflow: hidden;
    font-size:14px;
    margin-top: 4px;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    word-wrap: break-word;
}

.content-wrap .zhi-list{
    height:75px;
    position:relative;
    padding-left:100px;
    margin-bottom:18px;
}
.content-wrap .zhi-list:last-child{
    margin-bottom:0;
}

.content-wrap .zhi-list .zhi-title{
    height:30px;
    margin-bottom:5px;
    line-height:30px;
}
.content-wrap .zhi-list .zhi-desc{
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    word-wrap: break-word;
    color:#666;
    font-size:14px;
    overflow: hidden;
    line-height:20px;
    height:40px;

}
.content-wrap .zhi-list .zhi-left{
    position:absolute;
    width:75px;
    left:0;
    bottom:0;
    height:75px;
    background:#0e90d2;
}

.content-wrap .zhi-list .zhi-left span{
    display:block;
    color:#fff;
    text-align:center;
    height:20px;
    line-height:20px;
    font-size: 13px;
}

.content-wrap .zhi-list .zhi-left .zhi-day{
    background:#044fa0;
    font-size:26px;
    height:35px;
    line-height:35px;
}