.content-list span.list-time {
    position: absolute;
    color: #666;
    right: 0px;
}
.no-padding .content-list {
    padding-right: 100px;
    position: relative;
    border-bottom: 1px dotted #666;
    line-height: 40px;
    cursor:pointer;
}
.content-list-wrap{
    width:100%;
    margin-bottom:25px;
}
.nav-content{
    border-bottom:2px solid #044fa0;
    border-top:2px solid #044fa0;
    line-height:30px;
    margin-bottom:15px;
    font-size:14px;
    color:#666;
}
.nav-content a{
    font-size:14px;
    color:#666;
}
.page{
    text-align:center;
}
.un-re{
    margin-left:10px;
    color:#ccc;
    font-size: 12px;
}
.ed-re{
    margin-left:10px;
    color:#044fa0;
    font-size: 12px;
}
.send-message{
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #044fa0;
    background: #044fa0;
    font-size: 12px;
    color: #fff;
    float: right;
}
.send-message:hover{
    color:#fff;
    text-decoration: none;
}
/*****左侧分类*********/
.list-cate{
    position:relative;
    padding-left:250px;
}
.list-left{
    position:absolute;
    width:200px;
    left:0;
    top:0;
}
.left-list-title{
    margin-bottom: 12px;
    height: 41px;
    line-height: 40px;
    background-color: #044fa0;
    color: #fff;
    padding-left: 10px;
}
.left-list{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed #666;
    padding-left: 10px;
    display:block;
    color:#333;
}
.left-list.active{
    border-bottom: 1px dashed #044fa0;
    color:#044fa0;
}
.content-head{
    height:40px;
}
.head-title{
    height: 40px;
    line-height: 40px;
}
.main-content{
    min-height: 428px;
}