.index-nav{width: 100%;height: 45px;background:white;}
/*.index-nav-frame{width: 1200px;margin: 0 auto;}*/
.index-nav-frame-line{color: #333333;background: white;float: left;position: relative;display: block;outline: none;cursor: pointer;padding:0 20px;line-height: 45px;text-align: center;font-weight: 700;}
.index-nav-frame-line.active{color:#044fa0;}

.index-nav-frame-line-center{opacity: 0;height: 0;position: absolute;overflow: hidden;width: 170%;transition: all 0.5s;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;/* Firefox 4 */-o-transition: all 0.5s; /* Opera */    z-index: 9;left:0;}
.index-nav-frame-line-li{width: 100%;font-weight: 500;text-align: left;padding-left:20px;background:  rgba(80,80,80,0.8);color:#fff;border-bottom: 1px dashed #a2a2a2;display:block;}
.index-nav-frame-line-center .index-nav-frame-line-li:last-child{border:none;}
.index-nav-frame-line-li:hover{background: #5d5d5d;color: #6da5e0;}
.index-nav-frame-line-li:hover a{background: #444359;color: white;}
.index-nav-frame-line-focus:focus{display: none;}
.index-nav-frame-line:hover .index-nav-frame-line-center{height:auto;opacity: 1;}
.index-nav-frame-line:hover{background:#f5f5f5}

.nav-line{height: 45px;width: 100%;position: relative;display: none;outline: none;}
.nav-small{width: 30px;height: 30px;position: absolute;right: 10px;top:10px;cursor: pointer;display: none;outline: none;}
.nav-small img{width: 100%;height: 100%;object-fit: cover;}
.nav-small-focus{position: absolute;width: 100%;height: 100%;display: none;}
.nav-small-focus:focus{display: none;}
@media only screen and (max-width:800px) {
    .index-nav-frame-line-li a{display: block;color: white;}
    .nav-line{display: block;border-bottom: 1px solid #eeeeee;}
    .nav-small{display: block;}
    .nav-small:focus~.index-nav-frame-line{height: auto;border-bottom: 1px solid #ccc;}
    .nav-small:focus .nav-small-focus{display: block;}
    .index-nav-frame{width: 100%;}
    .index-nav-frame-line{width: 100%;height: 0;overflow: hidden;}
    .index-nav-frame-line-center{position: relative;background: #444359;}
    .index-nav-frame-line:hover .index-nav-frame-line-center{height:0;opacity: 0;}
    .index-nav-frame-line-li{border-bottom: 1px solid #4b4a5e;color: #d9d9d9;background: #444359;}
    .index-nav-frame-line-li:hover{background: #b63b4d;}
    .index-nav-frame-line:focus{height: auto;border-bottom: 1px solid #ccc;}
    .index-nav-frame-line:focus>.index-nav-frame-line-center{height:auto;opacity: 1;}
    .index-nav-frame-line:focus .index-nav-frame-line-header{color: #B63B4D;}
    .index-nav-frame-line-focus{display: none;width: 100%;height: 45px;position: absolute;left: 0;top: 0;}
    .index-nav-frame-line:focus .index-nav-frame-line-focus{display: block;}

}

#by{overflow-y:hidden}