.content-list-wrap{
    width:600px;
    margin: 0 auto 25px;

}
.nav-content{
    border-bottom:2px solid #044fa0;
    border-top:2px solid #044fa0;
    line-height:30px;
    margin-bottom:15px;
    font-size:14px;
    color:#666;
}
.list-item{
    position:relative;
    padding-left:80px;
    margin-bottom:12px;
}
.name-item{
    position:absolute;
    left:0;
    line-height:40px;
}
.input-item{
    padding:5px;
    width:100%;
    height:40px;
    border:1px solid #ddd;
    border-radius:2px;
}
.input-item.text-area{
    height:300px;
    resize: none;
}
.submit-btn{
    display:block;
    height: 50px;
    width: 140px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #044fa0;
    background: #044fa0;
    color: #fff;
    margin:auto;
    cursor:pointer;
    border-radius: 3px;
}
