{include file="public:head"
css='<link href="__StaticStyle__/css/index.css" rel="stylesheet"><link href="__StaticStyle__/css/swiper.css" rel="stylesheet">'
js='<script type="text/javascript" src="__StaticStyle__/js/jquery-3.2.1.min.js"></script><script type="text/javascript" src="__StaticStyle__/js/swiper.js"></script>'
}
<body>
{include file="public:nav"}
<div class="main-swiper">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {foreach $bannerList as $v}
            <a class="swiper-slide"><img src="__ImagePath__{$v.url}" alt="{$v.title}" /></a>
            {/foreach}
        </div>
        <ul class="slidershow-nav">
        </ul>
    </div>
</div>
<div class="main-content common-width">
    {foreach $cateList as $k=>$item}
    {if $k == 1}
    <div class="content-wrap content-item fir no-padding content-long">
        <div class="content-head">
            <span class="head-title">{$item.title}</span>
            <a class="head-more" href="{:url('index/articlelist',['mark'=>$item.mark,'type'=>'list'])}" style="overflow: hidden">更多+</a>
        </div>
        <div class="long-left">
            <div class="long-left-area"  onclick="javascript:window.location.href='{:url("index/articledetail",['id'=>$item['sublist'][0]['id'],'mark'=>$item.mark,'type'=>'list'])}';">
                <div class="news-img" style="background:url(__ImagePath__{$item['sublist'][0]['img']}) no-repeat center;"></div>
                <div class="limit-text news-title">
                    {$item['sublist'][0]['title']}
                </div>
            </div>
        </div>

        <div class="long-right">
            <div class="news-hot" onclick="javascript:window.location.href='{:url("index/articledetail",['id'=>$item['sublist'][0]['id'],'mark'=>$item.mark,'type'=>'list'])}';">
                <div class="hot-left">
                    <?php
                    $timeArr = explode(' ',$item['sublist'][0]['sendtime']);
                    $yearArr = explode('-',$timeArr[0]);
                    ?>
                    <span class="hot-day">{$yearArr[2]}</span>
                    <span class="hot-month">{$yearArr[0]}-{$yearArr[1]}</span>
                </div>
                <div class="hot-right">
                    <div class="hot-title">
                        {$item['sublist'][0]['title']}
                    </div>
                    <div class="hot-content limit-text">
                        {$item['sublist'][0]['description']}
                    </div>
                </div>
            </div>
            <ul class="content-area">
                {foreach $item.sublist as $a=>$v}
                {if $a > 0}
                <li class="content-list" onclick="javascript:window.location.href='{:url("index/articledetail",['id'=>$v.id,'mark'=>$item.mark,'type'=>'list'])}';"> · {$v.title}<span>{$v.sendtime|getYearDay}</span></li>
                {/if}
                {/foreach}
            </ul>
        </div>
    </div>
    {else}
    <div class="content-wrap content-item fir {if in_array($k,[4,6])}no-padding {/if}">
        <div class="content-head">
            <span class="head-title">{$item.title}</span>
            <a class="head-more" href="{:url('index/articlelist',['mark'=>$item.mark,'type'=>'list'])}">更多+</a>
        </div>
        <ul class="content-area">
            {foreach $item.sublist as $v}
            <li class="content-list" onclick="javascript:window.location.href='{:url("index/articledetail",['id'=>$v.id,'mark'=>$item.mark,'type'=>'list'])}';"> · {$v.title}{if in_array($k,[4,6])}<span>{$v.sendtime|getYearDay}</span> {/if}</li>
            {/foreach}
        </ul>
    </div>
    {/if}
    {if $k == 4}
    <div class="content-wrap content-item fir">
        <div class="special-area">
            <div class="special-title"><span class="special-dot">·</span><div class="special-text"> 站点连接</div></div>
            <div class="special-list">
                {foreach $linkList as $k=>$item}
                <a class="special-item special-{$k+1}" href="{:url('index/articlelist',['mark'=>$item.mark,'cate_id'=>$item.id,'type'=>'list'])}">{$item.name}</a>
                {/foreach}
            </div>
            <div class="special-title"><span class="special-dot">·</span><div class="special-text">公共服务</div></div>
            <div class="special-list">
                <a class="special-item special-1" href="{:url('index/articlelist',['mark'=>'Message','type'=>'list'])}">主席信访</a>
            </div>
        </div>
    </div>
    {/if}

    {/foreach}


</div>
{include file="public:footer"}
</body>
<script>
var mySwiper = new Swiper(".swiper-container", {
    loop: true,
    autoplay: 3000,
    pagination: "ul.slidershow-nav",
    paginationElement: "li",
    currentClass: "current",
});
</script>
</html>