{include file="public:head" title="list"
css='<link href="__StaticStyle__/css/list.css" rel="stylesheet">'
js=''
}
<body>
    {include file="public:nav"}
    <div class="nav-content common-width">
        <a>首页</a> > 公告栏
    </div>
    <div class="main-content common-width">
        <div class="content-wrap content-item fir no-padding content-list-wrap">
            <div class="content-head">
                <span class="head-title">公告栏</span>
            </div>
            <ul class="content-area">
                <li class="content-list"> · 关于举办2019级安徽建筑工业大学教职工奖章授予表彰大会<span>2019-06-01</span></li>
                <li class="content-list"> · 关于举办2019级安徽建筑工业大学教职工奖章授予表彰大会<span>2019-06-01</span></li>
                <li class="content-list"> · 关于举办2019级安徽建筑工业大学教职工奖章授予表彰大会<span>2019-06-01</span></li>
                <li class="content-list"> · 关于举办2019级安徽建筑工业大学教职工奖章授予表彰大会<span>2019-06-01</span></li>
                <li class="content-list"> · 关于举办2019级安徽建筑工业大学教职工奖章授予表彰大会<span>2019-06-01</span></li>
                <li class="content-list"> · 关于举办2019级安徽建筑工业大学教职工奖章授予表彰大会<span>2019-06-01</span></li>
                <li class="content-list"> · 关于举办2019级安徽建筑工业大学教职工奖章授予表彰大会<span>2019-06-01</span></li>
                <li class="content-list"> · 关于举办2019级安徽建筑工业大学教职工奖章授予表彰大会<span>2019-06-01</span></li>
            </ul>
        </div>
    </div>
    {include file="public:footer"}
</body>
<script>

</script>
</html>